
@use '../../pages/_globals.scss';

.Release {
  @include globals.full-width;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1em 0;

  .Release-info {
    text-align: right;
    margin: 1em;
    width: 30%;

    .Release-info-title {
      font-size: 140%;
      font-weight: bold;
    }
    
    .Release-info-artist {
      font-size: 120%;
    }    
  };

  &:nth-child(even) {
    flex-direction: row-reverse;

    .Release-info {
      text-align: left;
    }
    background-color: #666;
  }

  &:nth-child(odd) {
    background-color: #888;
  }
}