.ListenLinks {
  margin-top: 0.5em;
  font-size: 120%;
  // font-size: 200%;
  // line-height: 200%;
  // font-variant: small-caps;
  // font-style: italic;

  // We have labels so the icons make more sense in screen readers (ESLint warning).
  // Hide them so we get "logo-only" look.
  // This might hide them from screen readers though.
  label {
    display: none;
  }
  // Space fontello icons out a little more.
  a span::before {
    margin: 0 0.3em;
  }

  // Zero the fontello-provided icon margin so it aligns nicely.
  // This is a bit messy.
  a:first-child  span::before {
    margin-left: 0;
  }
  a:last-child span::before  {
    margin-right: 0;
  }

  // Amazon icon is not properly aligned IMO.
  .icon-amazon {
    position: relative;
    top: 2px;
  }

  // Bandcamp icon also needs a lil nudge down.
  .icon-bandcamp {
    position: relative;
    top: 1px;
  }
}
